@import '~sass/variables';

:host {
  padding: $padding;
  mat-card {
    cursor: default;
    .mat-card-title {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}